{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
    <link href="{% static 'main/test_app.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block content %}
    <div class="container" ng-app="TestApp" ng-controller="TestCtrl">
{#        <h3>{$ title $}</h3>#}
{#        <div hello>Bob</div>#}
{#        <expander class="expander" expander-title="title">#}
{#            {$ text $}#}
{#        </expander>#}
        <accordion>
            <expander class="expander" ng-repeat="expander in expanders" expander-title="expander.title">
                {$ expander.text $}
            </expander>
        </accordion>

    </div>

{% endblock content %}


{% block custom_js %}
    <script src="{% static 'main/test_app.js' %}"></script>
{% endblock custom_js %}